<section>
    <form class="form uk-grid-small" method="POST" uk-grid>
        <div class="entreprise">
            <h2>Entreprise</h2>
            <div class="uk-width-1-2">
                <input class="uk-input" type="text" placeholder="Nom">
                <input class="uk-input" type="text" placeholder="Adresse">
                <input class="uk-input" type="text" placeholder="Activité">
            </div>
            <div class="uk-width-1-2@s">
                <input class="uk-input" type="date">
                <input class="uk-input" type="text" placeholder="Email">
                <input class="uk-input" type="text" placeholder="tel">
            </div>
        </div>
        <div class="contact">
            <h2>Contact</h2>
            <div class="uk-width-1-2@s">
                <input class="uk-input" type="text" placeholder="Nom">
                <input class="uk-input" type="text" placeholder="Prenom">
                <input class="uk-input" type="text" placeholder="poste">
            </div>
        </div>
        <div class="reponse">
            <h2>Réponse</h2>
            <div class="uk-width-1-2@s">
                <input class="uk-input" type="text" placeholder="date réponse">
                <input class="uk-input" type="text" placeholder="reponse">
                <input class="uk-input" type="text" placeholder="doc?">
            </div>
        </div>
        <div class="comment uk-grid-small">
            <h2>Commentaires</h2>
            <div class="">
                <textarea class="txt uk-textarea"></textarea>
            </div>
        <!-- </div>
        <div class="uk-width-1-4@s"> -->
            <input class="uk-input" type="submit" placeholder="50">
        </div>
    </form>
</section>